.pageWrapper {
  width: 100%;

  padding: 50px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.formWrapper {
  width: 25%;

  padding: 10px;
  border: 1px solid black;

  border-radius: 5px;
}

.contentWrapper {
  width: 25%;

  margin-top: 20px;

  padding: 10px;
  background: #eee;

  border-radius: 5px;
}

input {
  display: block;
  margin: 10px 0;
  width: 97.5%;
}

select {
  display: block;
  margin: 10px 0;
}

textarea {
  display: block;
  margin: 10px 0;
  width: 97.5%;
  max-width: 97.5%;
}

.submitButton {
  margin-top: 12px;
}

.form {
  display: flex;
  flex-direction: column;
}

.techSpan {
  text-transform: capitalize;
}

.submission {
  margin-bottom: 20px;
}
